table {
  width: 100%;
}

.mat-mdc-form-field {
  padding-top: 20px;
  font-size: 14px;
  width: 100%;
}

.divButton {
  display: flex;
  align-items: center;
}

.newContactButton {
  font-size: 12px;
  padding: 14px 40px;
}