table {
  width: 100%;
}

.mat-mdc-form-field {
  padding-top: 20px;
  font-size: 14px;
  width: 100%;
}

.newContactButton {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.newContactButton:hover {
  background-color: #0056b3;
}